[user]
	name = Jay Shepherd
	email = jay@sprucecreeksoftware.com
[github]
	user = jayshepherd
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/jshepherd/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
